---
title: Agricultural Work
description: Agricultural Work
---

<div id='agricultural'>
<h2 class='title'>Agricultural</h2>

<p>
<img src='/images/KCOF coffee rows small.png' alt='KCOF Coffee Rows' style='float:right; height:210px; padding: 0 0 0 10px;' />
From many years of working with farmers and scientists, we have
experience that encompasses every stage of coffee production from the nursery
to green coffee processing.&nbsp; We can
aid in creating or improving your perfect production system.</p>
<ul>
<li>Field planning</li>
<li>Field maintenance</li>
<li>Soil and leaf sampling</li>
<li>Processing</li>
<li>Quality control</li>
<li>Development of sustainable systems</li>
</ul>
</div>
