---
title: Agricultural Work
description: Agricultural Work
---

<section class='section'>
  <h2 class='title'>Agricultural</h2>

  <p>
    From many years of working with farmers and scientists, we have experience that encompasses
    every stage of coffee production from the nursery to green coffee processing. We can aid
    in creating or improving your perfect production system.
  </p>

  <p class='centered-images'>
    <img class='coffee-rows' src='/images/KCOF coffee rows small.png' alt='KCOF Coffee Rows'>
  </p>

  <p>
    Some of the services in this area that we provide are&hellip;
    <ul>
      <li>
        <span class="fa fa-coffee"></span>
        Field planning
      </li>
      <li>
        <span class="fa fa-coffee"></span>
        Field maintenance
      </li>
      <li>
        <span class="fa fa-coffee"></span>
        Soil and leaf sampling
      </li>
      <li>
        <span class="fa fa-coffee"></span>
        Processing
      </li>
      <li>
        <span class="fa fa-coffee"></span>
        Quality control
      </li>
      <li>
        <span class="fa fa-coffee"></span>
        Development of sustainable systems
      </li>
  </ul>
</p>
</section>
