---
title: educational
description: Educational Copy
---

<div id='educational'>
<p><strong>Educational</strong></p>
<p>Coffee is a fascinating beverage that resonates with people on many
different levels.&nbsp; We have
extensive experience giving talks and workshops on coffee-related topics and
have published a book that
contains information about every aspect of coffee.</p>
<p>

We are available for speaking engagements, workshops, and freelance
writing. &nbsp;If you, your business, or
just a group of friends would like to learn more about coffee, Coffea
Consulting will design an educational experience that best fits your needs.&nbsp; </p>
<p>
<img src='/images/COH cupping Medium.jpg' alt='Cupping'>
<img src='/images/kau workshop small.jpg' alt='Workshop'>
</p>
<br>
Some potential topics:
<ul>
  <li>Production</li>
  <li>Roasting</li>
  <li>Brewing</li>
  <li>Cupping</li>
  <li>Quality</li>
  <li>Ethical coffees</li>
</ul>
</div>
