---
title: Educational
description: Educational
---

<div id='educational'>
  <strong>Educational</strong>

  <p>
    Coffee is a fascinating beverage that resonates with people on many different levels. We have
    extensive experience giving talks and workshops on coffee-related topics and have published a
    book that contains information about every aspect of coffee.
  </p>

  <p>
    We are available for speaking engagements, workshops, and freelance writing. If you, your
    business, or just a group of friends would like to learn more about coffee, Coffea Consulting
    will design an educational experience that best fits your needs.
  </p>

  <p class="centered-images">
    <img  class="overflowed-mobile" src='/images/COH cupping Medium.jpg' alt='Cupping'>
  </p>


  <p>
    Some potential topics&hellip;
    <ul>
      <li>
        <span class="fa fa-coffee"></span>
        Production
      </li>
      <li>
        <span class="fa fa-coffee"></span>
        Roasting
      </li>
      <li>
        <span class="fa fa-coffee"></span>
        Brewing
      </li>
      <li>
        <span class="fa fa-coffee"></span>
        Cupping
      </li>
      <li>
        <span class="fa fa-coffee"></span>
        Quality
      </li>
      <li>
        <span class="fa fa-coffee"></span>
        Ethical coffees
      </li>
    </ul>
  </p>

  <p class="centered-images">
    <img class="overflowed-mobile" src='/images/kau workshop small.jpg' alt='Workshop'>
  </p>
</div>
