---
title: Quality Assessment With Coffea Consulting
description: Quality
---

<header>
  <h2 class='title'>Quality Assessment</h2>
</header>

<section class='section'>
  <p class='cupping'>
    <img src='/images/ss cupping at Downtown Coffee 10-6-08.jpg' alt='Cupping'>
    <img src='/images/Cupping Medium.jpg' alt='Cupping Table'>
    To many consumers, the most important aspect of coffee is its sensory properties. Thoroughly
    understanding your coffee from seed to cup allows you to provide them exactly what they want.
    Coffea Consulting is eager to help you learn about your coffee's quality and, if necessary, help
    improve it.  With a licensed Q-grader available at Coffea Consulting, you are assured an
    evaluation that meets international standards.
  </p>

  <ul>
    <li>Green coffee</li>
    <li>Roasted coffee</li>
    <li>Brewed coffee, including espresso</li>
  </ul>
</section>
