---
title: Quality Assessment With Coffea Consulting
description: Quality
---

<header>
  <h2 class='title'>Quality Assessment</h2>
</header>

<section class='section'>
  <p class='cupping'>
    To many consumers, the most important aspect of coffee is its sensory properties. Thoroughly
    understanding your coffee from seed to cup allows you to provide them exactly what they want.
    Coffea Consulting is eager to help you learn about your coffee's quality and, if necessary, help
    improve it.  With a licensed Q-grader available at Coffea Consulting, you are assured an
    evaluation that meets international standards.
  </p>

  <p class="centered-images">
    <img class="overflowed-mobile" src='/images/ss cupping at Downtown Coffee 10-6-08.jpg' alt='Cupping'>
  </p>

  We evaluate&hellip;
  <ul>
    <li>
      <span class="fa fa-coffee"></span>
      Green coffee
    </li>
    <li>
      <span class="fa fa-coffee"></span>
      Roasted coffee
    </li>
    <li>
      <span class="fa fa-coffee"></span>
      Brewed coffee, including espresso
    </li>
  </ul>

  <p class="centered-images">
    <img class="overflowed-mobile" src='/images/Cupping Medium.jpg' alt='Cupping Table'>
  </p>

</section>
