---
title: Research
description: Research
---

<div id='research'>
<p><strong>Research</strong></p>
<p>
<img src='/images/lab small.jpg' alt='Lab'>
Our expertise is rooted in scientific research.&nbsp; We continue to
explore and learn about coffee through experimentation, attending conferences
and reviewing the latest scientific articles and other publications.&nbsp;
Coffea Consulting is able to consolidate pre-existing literature for you in an
accessible, easy to read report.&nbsp;&nbsp;We will also design and execute
experiments to help you find the answers to your questions.
<img src='/images/shade small.jpg' alt='Shade Coffee'>
<img src='/images/Caffeine molecule.png' alt='Caffeine'>
</p>
</div>
