---
title: Research
description: Research
---

<h2 class='title'>Research</h2>

<p>
  Our expertise is rooted in scientific research. We continue to explore and learn about coffee
  through experimentation, attending conferences and reviewing the latest scientific articles and
  other publications. Coffea Consulting is able to consolidate pre-existing literature for you in an
  accessible, easy to read report. We will also design and execute experiments to help you find the
  answers to your questions.
</p>

<img class='research-image' src='/images/Caffeine molecule.png' alt='Caffeine'>
<img class='research-image' src='/images/lab small.jpg' alt='Lab'>
<img class='research-image' src='/images/shade small.jpg' alt='Shade Coffee'>
