---
title: Coffee Sourcing
description: Coffee Sourcing
---

<h2 class='title'>Sourcing</h2>

<p class='brief'>
  Coffea Consulting has extensive knowledge of Hawaiian coffees&mdash;both green and roasted.  If
  you are a roaster, restaurant, or business seeking Hawaii coffee, we can help you source that
  coffee.
</p>
