---
title: Tastings
description: Tasting and Cuppings
---

<h2 class='title'>Private Tastings and Cuppings</h2>

<p>
  <img class='is-hidden-mobile cupping' src='/images/profit medium.jpg' alt='Cupping'>
  Coffee is a drink worth thinking about. It can have unexpected, titillating flavors and aromas that
  challenge our very expectation of what coffee should be.&nbsp; We believe everyone should appreciate
  the depth of the experience one can have while drinking coffee.
</p>

<p>
  Coffea Consulting is proud to offer private tastings to help you, your friends, your business, or
  your customers discover coffee's potential. We will gladly come to your home or business and
  explore the diverse world of coffee with you.
</p>

<p>
  Like wine, coffee has a formal method of evaluating quality, called "cupping." Cupping allows us
  to more objectively explore and understand coffee's complexity. Coffea Consulting offers private
  cupping sessions in your home or business.&nbsp; We will teach you the theory and practice of
  cupping and give you the skills necessary to pursue it on your own.
</p>
