@charset "utf-8";

@import "paletton";

$primary: $color-secondary-1-1;
//$background: lighten(#b67109,10%);
//$body-background: lighten(#b67109,10%);

$black: #181109;

@import "bulma/utilities/utilities";
@import "bulma/base/base";
@import "bulma/elements/elements";
@import "bulma/components/components";
@import "bulma/layout/layout";

@import "navigation";

* {
  font-family: 'Josefin Sans', sans-serif;
}

.box {
  box-shadow: 0 2px 3px rgba($primary, 0.1), 0 0 0 1px rgba($primary, 0.1)
}

.section {
  //background-color: #f0f0f5;
}

body .main {
  font-size: $size-3;
}

.contact-info  {
  text-align: center;
}

.contact-info li {
  display: inline;
}

.clients .client-card {
  min-height: 24rem;
  margin: 1rem;
  li {
    color: $primary
  }
}

li.well-spaced {
  margin-bottom: 1.3rem;
  line-height: 1.8rem;
}

h1.client-type, h2.client-type {
  font-size: $size-3;
  margin-bottom: 1rem;
}

.hero-body {
  background-image: url('/images/cupping-watermark.png');
  background-repeat: no-repeat;
  background-position: top right;
}

.hero-body .container {
  h1 {
    background-image: url('/images/engraving.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: auto 100%;
    padding-left: 4rem;
  }
}

// home (index)
.index img.cross {
  display: block;
  margin: 0 auto;
}


// Contact page

p.brief {
  width: 60%;
  margin: 50px auto;
}

img.centered {
  margin: 0 auto;
  display: block;
}

// Books

.one-book {
  margin-bottom: 2em;
  img {
    float: left;
    height: 15rem;
    margin-right: 1.5rem;
  }
}

p {
  margin-bottom: 1.2em;
}

.appearance {
  img {
    float: left;
    margin-right: 1.5rem;
  }
}

.scaa {
  span, img {
    display: block;
    margin: 0 auto;
  }
  text-align: center;
}

// Tastings
img.cupping {
  float: left;
  margin-right: 1.5rem;
  margin-bottom: 2.5rem;
}


// Quality
p.cupping img:first-child {
  float: left;
  height: 22rem;
  margin-right: 1.5rem;
}

p.cupping img:nth-child(2) {
  float: right;
  height: 22rem;
  margin-right: 1.5rem;
}

// Research
.research-image {
  height: 25rem;
}
