---
title: about-us
description:
---

<h2 class='title'>About Us</h2>

<p class='appearance'>
  <img class="appearance" src='/images/diane_and_ss_9_9_9.jpg' alt='TV Appearance'/>
  Coffea Consulting is owned and operated by Shawn Steiman.&nbsp; Shawn holds MS and PhD degrees
  from the University of Hawai&lsquo;i in the field of Tropical Plant and Soil Sciences. You
  can&nbsp;view Shawn&rsquo;s CV <a href="assets/Steiman CV.pdf" target="_blank">here</a>. He has
  researched various aspects of coffee science, including horticulture, biochemistry, entomology,
  brewing and sensory analysis. He is also a licensed Q-grader.
</p>

<p class='books'>
  His passion and love of coffee inspired him to write
  <em><a href="">The Hawai&lsquo;i Coffee Book: A Gourmet's Guide from Kona to Kaua&lsquo;i</a></em>.
  This book offers a comprehensive guide to coffee production and consumption while detailing the
  intricacies of the Hawai&lsquo;i coffee industry. He also co-edited and wrote some chapters in
  <em><a href="">Coffee: A Comprehensive Guide to the Bean, the Beverage, and the Industry.  </a></em>
  The book covers an array of coffee topics, devoting entire chapters to single ideas.
</p>


<div class='section scaa'>
  <span>Proud member since 2008</span>
  <img src="/images/SCAA logo.png" alt="Specialty Coffee Association" />
</div>
