---
title: Media Appearances
description: Media appearances
---

<h2 class='title'>Appearances</h2>

<p>
  <ul>
    <li class="well-spaced">Coffee; Hawai&lsquo;i Public Radio's "Business Beyond the Reef," May 13, 2008. <br />
    <a href='assets/media/Coffee-HPR 5-13-08.mp3' target='_blank'>HPR episode</a><br /></li>
    <li class="well-spaced">Coffee Lovers Bypass Coffee Shops and Brew at Home.  Obra, Joan.  <i>The Fresno Bee</i>.  9 June 2009.<br />
    <li class="well-spaced">Hawai&lsquo;i Cupping Aims to Showcase Coffee Beyond Kona.  Leif, Dan.  <i>Fresh Cup Magazine</i>, online article. 9 July 2009.<br />
    <a href='http://www.freshcup.com/news_events_details.php?id=64' target='_blank'>Hawai&lsquo;i cupping aims to showcase coffee beyond Kona</a><br /></li>
    <li class="well-spaced">Live at the Hawai&lsquo;i State Farm Fair. Hawai&lsquo;i-arukikata web magazine, 19 July 2009.<br />
    <a href='http://web2.hawaii-arukikata.com/tabid/56/EntryId/57/.aspx' target='_blank'>Live at the Hawai&lsquo;i State Farm Fair</a><br /></li>
    <li class="well-spaced">Hawaii&lsquo;s Coffee Doctor to Give Education Talks.  Berusch, Brian.  B on Hawai&lsquo;i, Nov 3, 2009.<br />
    <a href='http://www.bonhawaii.com/hawaiis-coffee-doctor-give-educational-talks-kona' target='_blank'>Hawaii&lsquo;s doffee doctor to give education talks</a><br /></li>
    <li class="well-spaced">Beyond Kona Coffee; Wu, Nina.  <i>The Honolulu Star Bulletin</i>, November 22, 2009. <br />
    <li class="well-spaced">Taste of Paradise: Kona in a Cup; Paiva, Derek.  <i>Hawai&lsquo;i Magazine</i>, January/February 2010, Vol 27, Issue 1. <br />
    <a href='http://www.hawaiimagazine.com/blogs/hawaii_today/2010/3/22/Kona_coffee_Hawaii_closer_look' target='_blank'>Taste of paradise: Kona in a cup</a></li>
    <li class="well-spaced">Barista wins first place with Hawaii-grown coffee; Engle, Erika.  <i>The Honolulu Star Bulletin</i>, March 4, 2010.
    <li class="well-spaced">Blenders Refute Coffee Study; Jensen, Chelsea.  <i>West Hawaii Today</i>, March 10, 2010. <br /><a href='http://www.westhawaiitoday.com/articles/2010/03/10/local/local04.txt' target='_blank'>Blenders refute coffee study</a></li>
    <li class="well-spaced">Farm to Table: Coffee; Leong, Lavonne.  <i>Honolulu Magazine</i>, July 2010.<br /><a href='assets/docs/Farm to Table Coffee - Hnl Magazine Leong - 2010.PDF' target='_blank'>Farm to table: Coffee</a></li>
    <li class="well-spaced">A World Class Brew; Oshiro, Joleen. <i>Honolulu Star-Advertiser</i>, July14, 2010.<br /><a href='http://www.staradvertiser.com/features/featuresstories/20100714_A_world-class_brew.html'>A world-class brew</a></li>
  </ul>

  <ul>
    <li class="well-spaced">Adventures in Coffee Land; Katz, Jesse.  <i>Hana Hou Magazine.</i>Vol 13, Issue 5, October/November, 2010. P 56-69. <br /><a href='http://www.hanahou.com/pages/Magazine.asp?Action=DrawArticle&ArticleID=907&MagazineID=58'>Adventures in Coffee Land</a></li>
    <li class="well-spaced">Buddah's Cup tops at Kona Coffee Cupping Competition; Stanton, Karin. <i>Hawaii 24/7</i>, November 12, 2010.<br /><a href='http://www.hawaii247.com/2010/11/12/buddhas-cup-tops-coffee-at-kona-coffee-cupping-competition/'>2010 Gevalia Kona Coffee Cupping Competition</a></li>
    <li class="well-spaced">Coffee Beetle Leaves State Seeking Quick Fix; Levine, Michael. <i>Honolulu Civil Beat</i>, November 16, 2010.<br /><a href='http://www.civilbeat.com/articles/2010/11/16/6538-coffee-beetle-leaves-state-seeking-quick-fix/'>Coffee Beetle in Hawaii</a></li>
    <li class="well-spaced">What's brewing? Seeking science in the cup; Bushman, Tavaner.  <i>Medill Reports.</i>, December 3, 2010.<br /><a href='http://news.medill.northwestern.edu/chicago/news.aspx?id=174890'>Seeking science</a></li>
    <li class="well-spaced">Cat Chat 14: Coffee Geeks; Toth, Catherine.<i>NonStop Honolulu.</i>, February 9, 2011.<br /><a href='http://www.nonstophonolulu.com/blogs/thedailydish/cat-chat-14-coffee-geeks/'>Coffee Geeks</a></li>
    <li class="well-spaced">The Best Part of Waking Up; Harmon, Anna.<i>The Honolulu Weekly.</i>, June 8, 2011.<br /><a href='http://honoluluweekly.com/restaurants/2011/06/the-best-part-of-waking-up//'>The Weekly interview of Shawn Steiman</a></li>
    <li class="well-spaced">A new spot downtown bills itself as a "microbrew" cafe with Hawaii coffees; Oshiro, Joleen.<i>The Star-Advertiser.</i>, July 13, 2011.<br /><a href='http://www.staradvertiser.com/features/featuresstories/20110712_Island_brews.html'>Beach Bum Cafe in Honolulu</a></li>
  </ul>
</p>
