---
title: Selected Literature
description: Selected Literature
---

<h2 class='title'>Selected Literature</h2>

<p>
  <ul>
    <li class="well-spaced"><b>Steiman, Shawn</b>. The Glory of Coffee.  The Independent Voice. April 2009,<br /><a href='http://www.konacoffeefarmers.org/docs/newsletter-0409.pdf' target='_blank'>The glory of coffee</a></li>
    <li class="well-spaced"><b>Steiman, Shawn</b>. Why Assess Coffee Quality.  The Independent Voice. May 2009, <br /><a href='http://www.konacoffeefarmers.org/docs/newsletter-0509.pdf' target='_blank'>Why assess coffee quality</a></li>
    <li class="well-spaced"><b>Steiman, Shawn</b>. How to Assess Coffee Quality.  The Independent Voice. June 2009, <br /><a href='http://www.konacoffeefarmers.org/docs/newsletter-0609.pdf' target='_blank'>How to assess coffee quality</a></li>
    <li class="well-spaced"><b>Steiman, Shawn</b>. Hawaii&lsquo;s Top Coffees Slug It Out at Inaugural Competition.  <i>Fresh Cup Magazine</i>, September 2009. <br /> <a href='http://www.freshcup.com/issue.php?id=84' target='_blank'> Fresh Cup Magazine</a></li>
    <li class="well-spaced"><b>Steiman, Shawn</b>. Hawaiian Coffees Shine in Statewide Cupping Competition.  <i>Barista Magazine</i>. August/September 2009.  <br /><a href='http://baristamagazine.epubxpress.com/' target='_blank'>Barista Magazine</a></li>
    <li class="well-spaced">Smith, V.E., <b>S. Steiman</b>, and C.R. Elevitch. 2009. Farm and Forestry Production and Marketing Profile for Coffee (<i>Coffea arabica</i>). In: Elevitch, C.R. (ed.). Specialty Crops for Pacific Island Agroforestry. Permanent Agriculture Resources (PAR), Holualoa, Hawai&lsquo;i.<br /><a href='http://agroforestry.net/scps/Coffee_specialty_crop.pdf' target='_blank'>Profile for coffee</a></li>
    <li class="well-spaced"><b>Steiman, Shawn</b>. Experiencing the coffees of Hawaii.  Caf&#233 Europa, No. 39, April 2010.<br />
    <a href='assets/docs/Cafe Europa 39 v20 4-2010.pdf' target='_blank'>Caf&#233 Europa, April 2010</a><br />
    <li class="well-spaced"><b>Steiman, Shawn</b>. For coffee evaluation, scores don't add up.  Roast Magazine, July/August 2010.<br /><a href='assets/docs/The Points Pinciple - Steiman and Davids - 2010.PDF' target='_blank'>The Points Principle</a></li>

  </ul>

  <ul>
    <li class="well-spaced"><b>Steiman, S,</b> Idol, T. and H. C. Bittenbender.  2007.  Analysis of kaolin particle film usage and its application on coffee.  HortScience. 42(7):1605-1608.<br />
    <a href='assets/docs/Analysis of kaolin particle film use and its application on coffee - Steiman et al - 2007.pdf' target='_blank'>Surround WP/kaolin and coffee</a><br />
    <li class="well-spaced"><b>Steiman, S.</b>, Idol, T., Bittenbender, H.C., and L. Gautz..  2011.  Shade coffee in Hawai&lsquo;i - Exploring some aspects of quality, growth, yield, and nutrition.  Scientia Horticulturae.  128(2): 152-158.<br /><a href='http://dx.doi.org/10.1016/j.scienta.2011.01.011'>Shade coffee in Hawai&lsquo;i</a><br />
    <li class="well-spaced"><b>Steiman, S</b>.  2011.  Handling the cherry: The risks and rewards of processing cherries.  Origin case Study: Hawaii.  Roast Magazine.  July/August.<br /><a href='assets/docs/Handling the cherry- The risks and rewards of processing methods - Steiman - 2011.pdf' target='_blank'>Cherry processing with Hawai&lsquo;i as a case study</a><br />
    <li class="well-spaced">Rodrigues, C., Brunner, M., <b>Steiman, S.</b>, Bowen, G., Nogueira, J., Gautz, L., Prohaska, T., and C. M&aacute;guas.  2011.  Isotopes as tracers of the Hawaiian coffee-producing regions.  Journal of Agricultural and Food Chemistry. 59(18): 10239-10246. <br /><a href='http://dx.doi.org/10.1021/jf200788p'>Use of isotopes to discriminate Hawai&lsquo;i coffee origins</a><br />
    <li class="well-spaced"><b>Steiman, S</b>.  2011.  Hawaiian Coffee Primer.  Barista Magazine.  Dec/Jan. 39-43.<br /><a href='assets/docs/Hawaiian coffee primer - Steiman - 2011.pdf' target='_blank'>An overview of the current Hawai&lsquo;i coffee industry</a><br />
    <li class="well-spaced"><b>Steiman, S</b>.  2012.  Taste the Rainbow State.  Fresh Cup Magazine.  Jan. 29-33.<br /><a href='assets/docs/Taste of the Rainbow State - Steiman - 2012.pdf' target='_blank'>The current coffee scene in Hawai&lsquo;i</a><br />
  </ul>
</p>

