<aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a href="/index.html">Home</a></li>
    <li><a href="/clients.html">Clients</a></li>
    <li><a href="/contact.html">Contact</a></li>
    <li><a href="/books.html">Books</a></li>
  </ul>
  <p class="menu-label">
    About
  </p>
  <ul class="menu-list">
    <li><a href='/about/about-us.html'>About Us</a></li>
    <li><a href='/about/media-appearances.html'>Selected Media Appearances</a></li>
    <li><a href='/about/selected-literature.html'>Selected Literature</a></li>
  </ul>
  <p class="menu-label">
    Services
  </p>
  <ul class="menu-list">
    <ul class='menu-list'>
      <li><a href='/services/agricultural.html'>Agricultural</a></li>
      <li><a href='/services/quality.html'>Quality Assessment</a></li>
      <li><a href='/services/educational.html'>Educational</a></li>
      <li><a href='/services/research.html'>Research</a></li>
      <li><a href='/services/tastings-and-cuppings.html'>Private Tastings and Cuppings</a></li>
      <li><a href='/services/sourcing.html'>Sourcing</a></li>
    </ul>
  <p class="menu-label">
    Downloads
  </p>
  <ul class="menu-list">
    <li><a href="/assets/Steiman CV.pdf" target="_blank">CV</a></li>
    <li><a href="/assets/trifold.pdf">Trifold</a></li>
  </ul>
</aside>
