<nav class="nav is-hidden-tablet">
  <div class="nav-left">
    <a class="nav-item is-brand" href="#">
      <img src="/images/logo_crisp.png" alt="Coffea Consulting logo">
    </a>
  </div>

  <span class="nav-toggle">
    <span class='is-flex-touch'>
      <span>
        <a class="nav-item" href="index.html">Home</a>
      </span>
      <span></span>
      <span></span>
    </span>
  </span>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="index.html">
      Home
    </a>
    <a class="nav-item" href="about.html">
      About
    </a>

    <a class="nav-item" href="http://daylightmind.com/news/">
      Blog
    </a>

    <a class="nav-item" href="services.html">
      Services
    </a>
  </div>
</nav>
