---
title: About
description: Coffea Consulting is owned and operated by Shawn Steiman.
---

<p>
  Shawn holds MS and PhD degrees from the University of Hawai&lsquo;i in the field of Tropical Plant
  and Soil Sciences. He has researched various aspects of coffee science, including horticulture,
  biochemistry, and sensory analysis.
</p>
