---
title: Coffee Books
description: Dr. Steiman has written several books about coffee. Each book approaches coffee differently and are worth having in any coffee library.
---

<div class='columns'>
  <div class='column is-two-thirds'>
    <p class='one-book is-clearfix'>
      <img src='images/TheHawaiiCoffeeBookfrontcover-medium.jpg' alt='Book'>
      While procrastinating writing his PhD dissertation in 2008, Dr. Steiman wrote his first book,
      <i>The Hawai&lsquo;i Coffee Book: A Gourmet's Guide from Kona to Kaua&lsquo;i</i>.  This first
      book explores coffee's journey from the farm to the brewed cup.  All the while, it uses the Hawaii
      coffee industry as a case study of that journey.  This is an easy to ready book filled with
      something for the coffee-curious to the coffee professional.
    </p>

    <p class='one-book is-clearfix'>
      <img src='images/Coffee- A Comprehensive Guide to the Bean, the Beverage, and the Industry.jpg' alt='Signing'>

      In 2013, Dr. Steiman teamed up with 2 colleagues to co-edit <i>Coffee: A Comprehensive Guide to the
        Bean, the Beverage, and the Industry</i> and author several chapters.  Each chapter in this book
      delves deep into a specific coffee topic, each written by different coffee expert.  Almost
      encyclopedic in its reach, this book is valuable to anyone eager to immerse themselves in
      coffee
    </p>

    <p>
      We are proud to offer signed copies of these books, shipped directly to you. Use the PayPay
      button to the right to select your book of choice and destination.
    </p>
  </div>

  <div class='column section'>
    <div class='box'>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="HGN75YLD2PBEE">
        <input type="hidden" name="on0" value="Shipping Location">
        Choose your book and shipping location.
        <p class="control">
          <span class="select">
            <select name="os0">
              <option value="THCB - USA">THCB - USA $25.00 USD</option>
              <option value="THCB - International">THCB - International $33.00 USD</option>
              <option value="Coffee - USA">Coffee - USA $70.00 USD</option>
              <option value="Coffee - International">Coffee - International $78.00 USD</option>
            </select>
          </span>
        </p>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>
    </div>
  </div>
</div>
