---
title: Clients
description: Coffea Consulting has had many clients.
---

<header>
  <h2 class='title'>Clients include:</h2>
</header>


<div class="columns is-multiline">
  <section class="box column is-3 client-card">
    <h2 class='client-type'>Agricultural</h2>
    <ul>
      <li class="well-spaced">Braund Farms</li>
      <li class="well-spaced"><a target='_blank' href='http://www.kaanapalicoffeefarms.com/'>Kaanapali Coffee Farms</a></li>
      <li class="well-spaced"><a target='_blank' href='http://www.konaearth.com/'>Kona Eart</a></li>
      <li class="well-spaced"><a target='_blank' href='http://mauijo.blogspot.com/'>Maui Jo Coffee Co</a></li>
      <li class="well-spaced"><a target='_blank' href='http://papakona.com/'>Papa Kona Coffee Far</a></li>
    </ul>
  </section>

  <section class="box column is-3 client-card">
    <h2 class='client-type'>Quality Assessment</h2>
    <ul>
      <li class="well-spaced"><a target='_blank' href='http://www.mauicoffee.com/'>The Coffee Store</a></li>
      <li class="well-spaced"><a target='_blank' href='http://www.coffeesofhawaii.com/'>Coffees of Hawaii</a></li>
      <li class="well-spaced"><a target='_blank' href='http://konaviewestate.com/'>Kona View Estat</a></li>
      <li class="well-spaced"><a target='_blank' href='http://makahikifarms.com/'>Makahiki Farm</a></li>
      <li class="well-spaced"><a target='_blank' href='http://www.wailapafarms.com/'>Wailapa Farms</a></li>
    </ul>
  </section>

  <section class="box column is-3 client-card">
    <h2 class='client-type'>Research</h2>
    <ul>
      <li class="well-spaced"><a target='_blank' href='http://scaa.org/'>Specialty Coffee Association of America</a></li>
    </ul>
  </section>
</div>

<div class="columns">
  <section class="box column is-3 client-card">
    <h2 class='client-type'>Educational</h2>
    <ul>
      <li class="well-spaced"><a target='_blank' href='http://www.hfbf.org/'>Hawaii Farm Bureau Federation</a></li>
      <li class="well-spaced"><a target='_blank' href='http://home.ingdirect.com/'>ING Direc</a></li>
      <li class="well-spaced"><a target='_blank' href='http://islandxhawaii.com/'>Island X Hawaii</a></li>
      <li class="well-spaced"><a target='_blank' href='http://www.konacoffeefest.com/'>Kona Coffee Cultural Festiva</a></li>
      <li class="well-spaced"><a target='_blank' href='http://www.agricultura.gobierno.pr/'>Department of Agriculture, Puerto Rico</a></li>
    </ul>
  </section>

  <section class="box column is-3 client-card">
    <h2 class='client-type'>Private Tastings/Cuppings</h2>
    <ul>
      <li class="well-spaced"><a target='_blank' href='http://www.cades.com/'>Cades Schutte LLP</a></li>
      <li class="well-spaced"><a target='_blank' href='http://cakeworkshi.com/'>Cake Works</a></li>
      <li class="well-spaced"><a target='_blank' href='http://www.profitpt.com/'>Profit Point</a></li>
      <li class="well-spaced">Schoonmaker LLC </li>
      <li class="well-spaced"><a target='_blank' href='http://www.slowfoodoahu.org/'>Slow Food Oahu</a></li>
    </ul>
  </section>

  <section class="box column is-3 client-card">
    <h2 class='client-type'>Sourcing</h2>
    <ul>
      <li class="well-spaced"><a target='_blank' href='http://www.beanetics.com/'>Beanetic</a></li>
      <li class="well-spaced"><a target='_blank' href='http://beachbumcafe.com/'>Beach Bum Cafe</a></li>
    </ul>
  </section>
</div>
