---
title: Contact
description: For a free consultation, or additional information, email Shawn Steiman at steiman@coffeaconsulting.com or call 808-223-0982.
---

<div class="columns">
  <section class="column">
    <h2 class='title'>Contact Us</h2>

    <p class='brief'>
      For a free consultation, or additional information, email Shawn Steiman at
      <a href='mailto:steiman@coffeaconsulting.com'>steiman@coffeaconsulting.com</a> or call
      +1-808-223-0982.

    </p>

    <img class='centered' style='width: 40%;' src="images/cross section with labels.png" alt='Cross Section'>
  </div>
</div>

