---
title: Welcome to Coffea Consulting
description: Coffea Consulting is the premier global advisor for enhancing and promoting coffee quality at every stage of the production chain, from the planted seed to the brewed cup. Because the way coffee is grown, processed, handled, and sold is just as important as how it tastes.
---

<p>
  <img class='flowers' src='images/Flowersandripecherries1-custom-size-266-200.JPG' alt='Flowers and Cherries'>
  <img class='cross' src='images/cross_section.png' alt='cross section'>

  <span>Coffea Consulting</span> is the premier global advisor for enhancing and promoting coffee
  quality at every stage of the production chain &ndash; from the planted seed to the brewed
  cup.&nbsp; Because the way coffee is grown, processed, handled, and sold is just as important as
  how it tastes, <span>Coffea Consulting</span> also works towards establishing sustainable
  production systems.
</p>

<p>
  With a commitment to decision making based on scientific evidence, <span>Coffea Consulting</span>
  will address the needs of your coffee-related business.&nbsp; Located in Honolulu, Hawai&lsquo;i,
  this company is uniquely qualified to translate research on every subject of coffee science into
  practical, useful information for you.
</p>

<p>
  Through our unique array of services,
  <span>Coffea Consulting</span> can help you, your friends, and your customers taste and think
  about coffee in a whole new way!
</p>
