---
title: Services
description: Whether you are a farmer, roaster, retailer or someone who loves great coffee, Coffea Consulting has the information and expertise you need. We are true coffee experts.
---

<p>
  Whether you are a farmer, roaster, retailer or someone who loves great coffee, we have the
  information and expertise you need.&nbsp; Use the links above to navigate some of the areas in
  which we can assist you.
</p>
