---
title: Thank You
description: Thank you for purchasing one of our books!
---

<p>
  Thank you for purchasing one of our books.&nbsp; Your transaction has been completed and a receipt has been emailed to you.&nbsp; You
  may log into your account <a href="https://www.paypal.com/us/">here</a> to view details of this transaction.
</p>

<p>
  If you have any special requests regarding the signage in the book, and missed the box in PayPal,
  please, <a href="mailto:steiman@coffeaconsulting.com?subject=Instructions from PayPal purchanse">email Shawn</a>.&nbsp; 
</p>
